:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGISTER CSS   */

.body{
  display: flex;
  width: 100%;
  height: 100vh;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.form-part{
 width: 50%;
 padding: 95px 95px 50px 50px;
 background-color: #ffff;
 font-family: 'DM Sans';
 
}

.form-part h2{
  
  font-size: 40px;
  font-weight: 700;
  line-height: 57.61px;
  text-align: start;
  margin-bottom: 10px;

}

.form-part p{ 
  font-size: 21px;
  font-weight: 500;
  line-height: 30.24px;
  text-align: start;
  margin-bottom: 35px;
  color: #525252;
}

.form-part form {
  display: flex;
  flex-direction: column;
}

.form-part input[type="text"],
.form-part input[type="email"],
.form-part input[type="password"] {
    padding: 10px;
    margin-bottom: 25px;
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    font-size: 16px;
    color: #525252;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container label {
  font-size: 12px;
  color: #666666;
}

.checkbox-container a {
  color: #333;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.form-part button {
  background-color: #FF5A5F;
  width: 237px;
  height: 45px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;

}

.form-part button:hover {
  background-color: #e14c4c;
}

.form-part p a {
  color: #000000;
  text-decoration: none;
}

.form-part p a:hover {
  text-decoration: underline;
}

.image-container{
  width: 55%;
  background-size: cover;
  background-image: url('https://s3-alpha-sig.figma.com/img/f916/e83d/5e2b67cb4a2bd105a7f8c3375419619a?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IOVIcdBv3Emiyygbze9AcVz-AnIkIK6WXDNxJ5v7Er0ass9dYH88hx0PVBesB9gqREg0nQSc~66Y~A6WXxffGgd6uG5hmZDEC9suDvttQSnZfI8F4p3oRBmh7NcWcGwbvxqdSzq0gTQJmwv7J9vPDQX54SrdR-nvcgGmErV1JUS-65o8fGXGfpPW1W~rOiXbiA~Yz5URHZHilMW8mdaqvbjykhUeFc4xvnpBXIIaBgBjZPWlQxwMy4~86OGe8OnjpMYhP~30--rnVriWfRfsyEAHB~yngYH1171NX2SBeS-NRYvCMNEi0pPyq-WPCWDmbk6T-tj21IzA1jvR8RuUpQ__');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay{
  position: absolute;
  top: 40px;
  left: 70px;
  color: white ;
  font-size: 40px;
}

.overlay h2{
  margin: 0;
  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 57.61px;
  text-align: center;

}

/* Create Job CSS  */

.createJob-image-container{
  width: 55%;
  background-size: cover;
  background-image: url('https://s3-alpha-sig.figma.com/img/7cce/4dc2/207929065b367650fc852db86006bb3c?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PojIMRCl1woSaBW1ulelDF08C4Q76tcfunMjdw4yRu~79pRuc11M3MwamNpg1MEWu-3Um4~ediy3tGjKbE0YjwhY87jPbh62Qor5L1Q-z~4l1xqDnOtW05uuM5S5Mn7QRw1K0TEgjcnlspokWritNchtcAlloP-EkxBk6aQKZc8lX0rg2YilUjt2q3qYGQ8HPyoPUMGkS-GxL9lEgoZWcSwmDJ-SGh38wMQDl-wjUygEYvY5vMLlcY49AeYY8Aydmpv4cWxn7WZrWakzbi0CCOMFPSZ~fiNHU28errZfnSqJPeCSkQyMx~18dXM9OsN5fn9E2OBBuJdibHvG70sP0w__');
  background-size: cover;
  background-position: center;
  position: relative;
}

.createJob-form-part{
  width: 50%;
  padding: 7px 50px;
  background-color: #ffff;
  font-family: 'DM Sans';
  
 }
 
 .createJob-form-part h2{
   font-size: 35px;
   font-weight: 700;
   line-height: 57.61px;
   text-align: start;
   margin-bottom: 15px;
 
 }
 
 .createJob-form-part form {
   display: flex;
   flex-direction: column; 
 }
 
 .createJob-form-part input[type="text"],
 .createJob-form-part input[type="number"],
 .createJob-form-part select,
 .createJob-form-part textarea,
 .createJob-form-part input[type="password"] {
     width: 440px;
     padding: 8px;
     margin-bottom: 5px;
     border: 2px solid #C2C2C2;
     border-radius: 5px;
     font-size: 13px;
     color: #525252;
 }

 .createJob-form-part select{
  width: 200px;
  margin-right: 240px;
 }
 .createJob-form-part textarea{
  max-height: 65px;
  min-height: 65px;
  min-width: 440px;
  max-width: 440px;
 }

 .createJob-form-group {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.createJob-form-group label {
  /* display: block; */
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'DM Sans';
  font-size: 22px;
  font-weight: 400;
  line-height: 30.38px;
  text-align: left;
}

.createJob-form-part button{
  width: 148px;
  height: 42px;
  background-color: #ED5353;
  color: white;
  border: none;
  border-radius: 7px;
  margin-left: 32.4vw;
}

.createJob-form-part button:hover {
  background-color: #e14c4c;
}



/* HOME PAGE CSS  */




.home {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 20px; */
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color:#ED5353;
  border-radius: 0px 0px 62px 55px;
  height: 140px;
  color: white;  
}

.logo{
  font-size: 30px;
  font-weight: 700;
  line-height: 43.21px;
  text-align: center;

}

.auth-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: 2px solid #FFFFFF;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  background: none;
  color: white;
}

.filter-section {
  background-color: white;
  height: 34vh;
  width: 82vw;
  padding: 25px;
  margin: 36px auto;
  border-radius: 8px;
  box-shadow: 0px 0px 22px 4px #FF202040;
}

.job-search {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 9px;
  font-size: 22px;
  font-weight: 500;
  line-height: 33.13px;
  text-align: left;
  color: #9C9C9C;
  border: 1.8px solid #E3E3E3
}

.skills-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.skills-dropdown{
  border: 2px solid #CECECE;
  padding: 5px;
  margin-right: 10px;
  border-radius: 9px;
}

.skill-tag {
  background: #FFEEEE;
  height: 24px;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 16.38px;
  font-weight: 500;
  line-height: 23.6px;
  text-align: center;
}

.skill-tag span{
  background: #FF6B6B;
  margin-left: 8px;
  cursor: pointer;
}

.apply-filter-button,
.clear-button {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 19.61px;
    font-weight: 500;
    line-height: 28.25px;
    text-align: center;

}

.clear-button {
  border: 1px solid #ff5a5f;
  margin-left: 10px;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.job-card {
  height: 15.9vh;
  width: 82vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 22px 2px #FF202040;
}

.job-info {
  flex-grow: 1;
}

.job-title {
  font-size: 19.5px;
  font-weight: 500;
  line-height: 17.39px;
  text-align: left;
  margin-bottom: 8px;
}

.company-details {
  font-size: 14px;
  color: #999;
  margin-bottom: 12px;
}

.salary-location {
  font-size: 14px;
  color: #999;
  display: flex;
  gap: 20px;
}

/* .skill-tag {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.96px;
  text-align: center;
  gap: 10px;
  margin-right: 20px;
} */

.skills-tag{
  background-color: #FFEEEE;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.96px;
  text-align: center;
  gap: 10px;
  margin-right: 20px;
}